@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js">
<head>
    <title>Web Sockets Example</title>

    <link href="/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/css/websocket/styles.css" rel="stylesheet" type="text/css" />
    <script src="/js/thirdparty/modernizr-2.0.6.min.js"></script>
</head>
<body>
    <header>

    </header>

    <div id="content">
        <form id="connect-form">
            <input id="username-input" type="text" placeholder="Type your username." />
            <input type="submit" value="Connect" />
        </form>

        <form id="send-message-form">
            <input id="message-input" type="text" placeholder="Type your message." />
            <input type="submit" value="Send" />
        </form>

        <div id="status">Connecting...</div>

        <ul>
    
        </ul>
    </div>

    <script src="/js/thirdparty/jquery-1.7.min.js"></script>
    <script src="/js/thirdparty/json2.js"></script>
    <script src="/js/labs.webSocket.js"></script>
</body>
</html>
