@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
    
    
    <script src="/js/thirdparty/modernizr-2.0.6.min.js"></script>

        <form id="connect-form">
            <input id="username-input" type="text" placeholder="Type your username." />
            <input type="submit" value="Connect" />
        </form>

        <form id="send-message-form">
            <input id="message-input" type="text" placeholder="Type your message." />
            <input type="submit" value="Send" />
        </form>

        <div id="status">Connecting...</div>

        <ul>
    
        </ul>
  
  <a href="/">Back to Moov2 labs</a>
    <script src="/js/thirdparty/jquery-1.7.min.js"></script>
    <script src="/js/thirdparty/json2.js"></script>
    <script src="/js/labs.webSocket.js"></script>
