@{
    ViewBag.Title = "Moov2 - Labs - Location Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="location-page">
<h1>HTML5 Location</h1>
    <span id="message"></span>
    <div id="map"></div>
    <span id="latitude-val"></span>
    <span id="longitude-val"></span>
    <span id="error"></span>
</div>

<script type="text/javascript" src="/js/thirdparty/jquery-1.7.min.js" language="javascript"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDXkguQYmn4dw3yPELAt1CiSm4PHHCcPPw&sensor=true"></script>
<script type="text/javascript" src="/js/labs.location.js" language="javascript"></script>