@{
    ViewBag.Title = "Moov2 - Labs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Local Storage Demo</h2>
<hr class="main-underline" />
<p>Here's a great description on our local storage demo
<br/>@Html.ActionLink("Local Storage Demo", "index", "localstorage")</p>


<br/>
<h2>Web Sockets Demo</h2>
<hr class="main-underline" />
<p>Here's a great description on our web sockets demo
<br/>@Html.ActionLink("Web Sockets Demo", "index", "websocket")</p>
