@{
    ViewBag.Title = "Moov2 - Labs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moov2 Labs</h2>

<hr class="main-underline" />

<ul>
    <li>@Html.ActionLink("Local Storage Demo", "index", "localstorage")</li>
    <li>@Html.ActionLink("Web Sockets Demo", "index", "websocket")</li>
</ul>