<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="/css/labcss/localstorage.css" rel="stylesheet" />
    <link href="/css/labcss/jquery.wysiwyg.css" rel="stylesheet" />
    @*<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" />*@
</head>

<body>
    @RenderBody()
</body>
</html>
