<div id="header"></div>
<div id="sidebar">
    <ul id="games-list"></ul>
</div>
<div id="content"></div>
@Html.Partial("_GameListItemTemplate")
@Html.Partial("_GameDetailsTemplate")
@Html.Partial("_HeaderTemplate")