<script id="tpl-game-details" type="text/x-jquery-tmpl">
    <div class="game-details">
        <label for="id">Id</label><br />
        <input id="id" name="id" type="text" value="{{ id }}" disabled /><br />
        <label for="title">Title</label><br />
        <input id="title" name="title" type="text" value="{{ title }}" /><br />
        <label for="genre">Genre</label><br />
        <input id="genre" name="genre" type="text" value="{{ genre }}" /><br />
        <button class="save">Save</button>
        <button class="delete">Delete</button>
    </div>
</script>